@{
    ViewBag.Title = "Наши контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Темиртау 1<br />
    Казахстан, Карагандинская область<br />
    Телефон: +7(777)-777-77-77
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:diplomSait@example.com">diplomSait@example.com</a><br />
</address>